<!DOCTYPE html>
<html>
  <head>
    <title>ATM Reclamo</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/jpg" sizes="128x128" href="icons/gamo128x128.jpg">
    <link rel="icon" type="image/jpg" sizes="96x96" href="icons/gamo96x96.jpg">
    <link rel="icon" type="image/jpg" sizes="32x32" href="icons/gamo32x32.jpg">
    <link rel="icon" type="image/jpg" sizes="16x16" href="icons/gamo16x16.jpg">
    <link rel="icon" type="image/ico" href="gamo.ico">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
